Flask==3.1.2
gunicorn==23.0.0

torch==2.8.0
transformers==4.55.4
sentencepiece==0.2.0
protobuf==6.32.0
safetensors==0.6.2

accelerate==1.14.0
huggingface-hub==0.36.2

requests==2.32.5
python-dotenv==1.1.1
